.footer{
	@include clearfix;
	position:absolute;
	color: white;
	margin-bottom:30px !important;
	text-align: right;
	right:4vw;
	transition:all .2s linear;
}

.exit-right{
	right: -2vw !important; 
	opacity: 0;
}