
.navbar{
	z-index:10000000;
	background-color: none;
	margin-top:20px;
	margin-bottom:10px !important;
	h5{
		color:white !important;
	}:hover{
		color:$reallyLightGray !important;
		transition:all .2s linear;
		border-bottom: hidden;
		h5:hover{
			padding-top:3px; 
		}
	}
	.navbar-options{
		transition:all .2s linear;
		text-align: right;
		right:4vw;
		position:fixed !important;
		.col-sm-2{
			padding:0 !important;
		}
		.navbar-about{
			padding: 0 !important;
		}
	}
	.navbar-logo{
		position:fixed;
	}
	.partial-navbar-logo{
		text-align: left;
		left:1vw;
		position:fixed !important; 
		transition:all .5s linear;
	}
	.col-sm-8{
		padding-left:0;
		padding-right:0;
	}
	.transform-left{
		left: 1vw !important;
		opacity: 0;
	}
	.exit-left{
		left: -2vw !important;
		opacity: 0;
	}
	.exit-right{
		right: -2vw !important; 
		opacity: 0;
	}
}
