@import "mixins";
@import "variables";

.main-return{
	height:100vh;
	padding-bottom:0;
	.description{
		padding-left: 2vw !important;
		padding-right: 2vw !important;
		padding-top:0;
		.description-text{
			padding-left:30px;
			h5{
				color: $darkGray !important;
				margin-top:0px;
				margin-bottom: 0px;
			}
		}
		@include clearfix();
	}
}
.col-sm-6{
	padding-left: 0 !important;
	padding-right: 0 !important; 
}
.uploaded-image{
	background-image: url("../images/uploaded-image.jpg");
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.returned-text{
	background-image: url("../images/filtered-upload.jpg");
	height:100vh;
	vertical-align:center; 
	padding-left:60px;
	padding-top:20vh;
	transition:all .2s linear;
	.line{
		margin-top: 30px;
		border-bottom:2px solid;
		width:60px;
	}
}
.not-parallax{
	height:80vh;
	background-size:cover; 
}
.not-parallax-text{
	background-image: url("../images/uploaded-image.jpg");
	padding-top:22vh !important;
	height:90vh !important;
	background-size:cover; 
	position:relative !important; 	
	background-attachment: fixed;
	h3{
		opacity:0;
	}
	.line{
		opacity:0;
	}
	&:hover{
		background-image: url("../images/filtered-upload.jpg");
		h3{
			opacity: 1 !important;
		}
		.line{
			opacity:1 !important;
		}
	}
}

.mocp-returned-images{
	padding-top:10vh; 
	padding-bottom:5vh;
	.image-one-container{
		padding-left:0 !important;
		padding-right:0 !important;
	}
	.image-two-container{
		padding-left: 0 !important;
		padding-right: 0 !important;
		.mocp-image-two{
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}
	.text{
		margin-top:15px;
		.mocp-rank{
			padding-right: 0 !important; 
			h1{
				color: $reallyLightGray !important;
				padding-top:0 !important; 
				margin:0 !important;
			}
		}
		h5{
			margin-top: 0 !important; 
			color: $darkGray !important;
		}
		.mocp-description{
			padding:0; 
		}
	}
}







